/*-- scss:defaults --*/

@import "base";
@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// fonts
$font-family-sans-serif: Bitter, sans-serif !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #00835D !default;
$selection-bg:  #FFE473 !default;
$selection-color: #000 !default;

// headings
$presentation-heading-font: "TT Hoves", sans-serif !default;
$presentation-heading-color: #16343E !default;
$presentation-heading-text-transform: uppercase !default;

// code blocks
$code-block-border-color: #93a1a1 !default;

/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

.reveal .slide div.aside {
  position: absolute;
  bottom: 50px !important;
  font-size: #{$presentation-font-smaller}em;
  color: $text-muted;
}