.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: 12px !important;
  top: 5px !important;
  left: unset !important;
  height: auto !important;
  width: 150px !important;
  max-width: unset !important;
  max-height: unset !important;

}
h1{
  font-size: 40pt !important;
}
