/*-- scss:defaults --*/
@import "base";
//@import url(./fonts/league-gothic/league-gothic.css);
//@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@import "custom.scss";

// fonts
$font-family-sans-serif: Bitter, sans-serif !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #00835D !default;
$selection-bg:  #FFE473 !default;
$selection-color: #000 !default;

// headings
$presentation-heading-font: "Montserrat", "TT Hoves", sans-serif !default;
$presentation-heading-color: #16343E !default;
$presentation-heading-text-transform: uppercase !default;

// code blocks
$code-block-border-color: #93a1a1 !default;

/*-- scss:rules --*/

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

.reveal {
  color: #1E343D;

  blockquote {
    padding-left: 5%;
  }

  .r-stretch, .stretch {
    max-width: none;
    max-height: none;
    aspect-ratio: auto;
    width: 50% !important;
    height: auto !important;
  }

  img {
    margin: 0 !important;
  }

  img.r-stretch {
    width: calc(100vw - 40px) !important;
    height: calc((100vw - 40px) * 0.421) !important;
    max-height: calc(100vh - 220px) !important;
  }

  img.quarto-figure-left {
    float: left !important;
  }

  img.quarto-figure-right {
    float: right !important;
  }

  /* Standard CORI slide deck actually includes logo in bottom right corner, like quarto default */
  .slide-logo {
    //display: block;
    //position: fixed;
    //bottom: unset !important;
    //right: 12px !important;
    //top: 5px !important;
    //left: unset !important;
    max-width: unset !important;
    max-height: unset !important;
    height: auto !important;
    width: 7.5% !important;
  }

  .slides {

    background-color: #FFF;

    inset: unset !important;
    transform: unset !important;

    height: 100vh !important;
    width: calc(100vw - 50px) !important;
    position: absolute;
    top: 0;
    left: 50px !important;

    .slide {

      max-height: 90vh;
      padding-bottom: 10vh;

      &:not(.center) {
        height: 90%;
      }

      h1 {
        font-size: 40pt !important;
        text-align: left;
      }

      code {
        color: #398160;
        background-color: rgba(0, 0, 0, 0);
        white-space: pre-wrap;
      }

      div.aside {
        position: absolute;
        bottom: 50px !important;
        font-size: #{$presentation-font-smaller}em;
        color: $text-muted;
      }

      figure > p:first-child {
        margin-top: 0;
        margin-bottom: 0;
        min-height: min-content !important;

        img {
          margin: var(--r-block-margin) 0;
          min-height: min-content;
          max-height: min-content;
        }
      }

      &.level1, &.level2 {
        display: flex !important;
        flex-direction: column;

        h1, h2, h3, h4, h5 {
          flex-basis: auto;
          flex-grow: 1;
          flex-shrink: 1;
          max-height: calc(100px - 10%);
          overflow: hidden;
          padding: 2.5% 5% 5% 5%;
          margin-bottom: 0;
          font-variant: normal !important;
          text-transform: none !important;
        }

        h2 {
          background-color: #EEF5EF;
          //border: 2px solid #000;
        }

        &>div, &>div:nth-child(2), &>p, &>p:nth-child(2), &>ul, &>ul:nth-child(2) {
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 1;
          line-height: 2em;
          //max-height: 22.5%;
          padding-left: 5%;
          //overflow-x: hidden;
          //border: 2px solid #000;

          &.cell {
            min-height: min-content;
            max-height: min-content;
            padding-right: 5%;
          }

          &.img {
            min-height: min-content;
            max-height: min-content;
          }
        }

        p, ol, ul {
          padding-right: 5%;
        }

        &>p {
          max-width: 95%
        }

        &>ul, &>ul:nth-child(2), &>ol, &>ol:nth-child(2) {
          margin-bottom: 0.5em;
          padding-left: 7.5% !important;
          //border: 2px solid #000;

          ol {
            padding-left: 0.5% !important;
          }

          ul {
            padding-left: 0.5% !important;
          }
        }

        table th {
          white-space: nowrap !important;
        }

        * div.cell {
          padding-right: 5%;
        }

        * .panel-tabset .tab-content div.cell-output-display {
          overflow: hidden !important;
        }

      }
    }

    section.quarto-title-block {
      width: 100%;
      height: 100%;
      max-width: 100%;
      padding: 15% 15% 15% 5%;
    }

    section#title-slide {
      text-align: left;
      //background-color: #EEF5EF;
      //background: #FFF url('/assets/big_hexagon.svg') no-repeat 0 -50px;
      //background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='layer1' transform='translate(-7.5, -1.5)'%3E%3Cpath d='M 5.3378906 2 L 0.671875 10 L 5.3378906 18 L 14.662109 18 L 19.328125 10 L 14.662109 2 L 5.3378906 2 z ' style='fill:%23EEF5EF; fill-opacity:1; stroke:none; stroke-width:0px;'/%3E%3C/g%3E%3C/svg%3E");
      background: #FFF url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='layer1' transform='translate(-7.5, -1.5)'%3E%3Cpath d='M 5.3378906 2 L 0.671875 10 L 5.3378906 18 L 14.662109 18 L 19.328125 10 L 14.662109 2 L 5.3378906 2 z ' style='fill:%23EEF5EF; fill-opacity:1; stroke:none; stroke-width:0px;'/%3E%3C/g%3E%3C/svg%3E")
        no-repeat 0 -100px;
      background-size: contain;

      h1 {
        max-width: 600px;
        line-height: 1.15em;
        vertical-align: center;
      }

      h1::before {
        max-width: 500px;
        font-size: 12pt;
        font-weight: bold;
        font-variant: small-caps;
        color: #398160;
        content: "Center on Rural Innovation \a";
        line-height: 1.25em;
        white-space: break-spaces;
      }

      .quarto-title-authors {
        text-align: left;

        .quarto-title-author {
          text-align: left;
          padding: 0;
        }
      }
    }

    .quarto-title-block .quarto-title-authors {
      display: flex;
      justify-content: left;
    }

  }

}

html.reveal-full-page body.quarto-light.reveal-viewport div.reveal.has-logo.none.focused.has-vertical-slides.has-horizontal-slides.ready div.slides section.stack.present section.slide.level2.present div.cell div.cell-output-display div.quarto-figure-default figure div svg.mermaid-js g g.root g.clusters g.cluster.default.flowchart-label g.cluster-label foreignObject {
  min-height: 24px;
  height: 24px !important;
}
